/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 280px;
  margin: 0 auto;
  padding: 1px 0;

  @media screen and (width >= 768px) {
    width: 728px;
  }

  @media screen and (width >= 1440px) {
    width: 1360px;
  }
}

.section-wrapper {
  max-width: 280px;
  margin: 0 auto;

  @media screen and (width >= 768px) {
    max-width: 728px;
  }

  @media screen and (width >= 1440px) {
    max-width: 1360px;
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
