/* здесь используйте глобальные селекторы img, body, html и так далее */
img {
  display: block;
  height: auto;
  object-fit: contain;
  width: 100%;
}


.page {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

@media (min-width: $tablet-width) {
  font-size: 16px;
  line-height: 24px;
  }
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  background-color: $base-white;
  color: $base-black;
}
