.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: $base-primary;
  color: $base-white;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: $primary-lighter;
}

.button:active {
  background-color: $primary-darker;
}

.button:disabled {
  background-color: $base-grey;
}

.button--card {
  font-size: 14px;
  line-height: 20px;
}

.button--reset {
  min-height: 40px;
  background-color: $base-white;
  color: $base-primary;
}

.button--reset:hover,
.button--reset:focus {
  background-color: $primary-lighter;
  color: $base-white;
}

.button--reset:active {
  background-color: $primary-darker;
  color: $base-white;
}

.button--reset:disabled {
  background-color: $base-grey;
  color: $base-white;
}