.catalog {
  background-color: $lightest-grey;
  padding: 50px 20px 20px;
  text-align: center;
}

.catalog__heading {
  margin-bottom: 20px;
}

.catalog__form {
  margin-bottom: 36px;
}

.filter__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter__title {
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

/* цена */
.filter__title--pricerange {
  margin-bottom: 32px;
}

.filter__pricerange {
  margin-bottom: 32px;
}

.pricerange__scale {
  width: 100%;
  background-color: $light-grey;
  position: relative;
  height: 2px;
} 

.pricerange__bar {
  position: relative;
  height: 4px;
  width: 85%;
  background-color: $primary-lighter;
}

.pricerange__pin--min {
  left: 0;
}

.pricerange__pin--max {
  left: 100%;
}

.filter__input-boxes {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.filter__input-box--from {
  margin-right: 30px;
}

.filter__input-value {
  width: 100%;
  min-height: 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
}

.filter__input-boxes::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: $base-grey;
  top: 20px;
  right: 135px;
}

.filter__list {
  text-align: left;
}

.filter__item {
  list-style: none;
  margin-bottom: 20px;
}

.filter__text {
  padding-left: 34px;
}

/* молоко */
.filter__list--radio {
  margin: 0 0 24px;
}
.filter__text--radio {
  position: relative;
  min-width: 100%;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.filter__box[type=radio]:checked+.filter__text--radio::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $base-primary;
  top: 2px;
  left: 4px;
  z-index: 2;
}

.filter__text--radio::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base-white;
  border: 2px solid $base-grey;
  top: -2px;
  left: 0;
}

.filter__box[type=radio]:checked+.filter__text--radio::after {
  border-color: $base-primary;
}

/* страна */
.filter__list--checkbox {
  margin: 0 0 29px;
}

.filter__text--checkbox {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.filter__text-left {
  display: block;
  padding-left: 52px;
}