.catalog {
  background-color: $lightest-grey;
  padding: 50px 20px 20px;
  text-align: center;
}

.catalog__heading {
  margin-bottom: 20px;
}

.catalog__form {
  margin-bottom: 36px;
}

/* список карточек товаров */
.catalog__list-container {
  margin-bottom: 40px;
}

/* пагинация */
.catalog__pagination {
  display: flex;
  justify-content: space-between;
}

.catalog__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: $base-white;
  color: $base-primary;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.catalog__pagination-button-icon {
  width: 6px;
  height: auto;
  fill: $base-primary;
}

.catalog__pagination-button-text {
  display: none;
}

.catalog__pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.catalog__pagination-item {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog__pagination-item:first-child {
  margin-left: 20px;
}

.catalog__pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  text-decoration: none;
  background-color: $base-white;
  color: $base-primary;
}

.catalog__pagination-link--current {
  background-color: transparent;
  font-weight: 600;
  color: $base-black;
}
