.page-header {
  display: flex;
  min-width: 320px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.page-header__nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  padding: 12px 20px;
  justify-content: center;
}

.page-header__logo-pic {
  @media (width= 320px) {
    width: 32px;
    height: 36px;
  }
}
