.price {
  line-height: 32px;
}

.price--old {
  font-size: 16px;
  color: $base-primary;
  text-decoration-line: line-through;
  margin-right: 6px;
}

.price--new {
  font-size: 20px;
  font-weight: 600;
  color: $base-black;
}
