/* цена бегунки */
.pricerange {
  margin-top: 12px;
  margin-bottom: 32px;
  position: relative;
  height: 24px;
}

/* шакала с пинами */
.pricerange__pin {
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 12px;
  outline: none;
  height: 4px;
  background-image: linear-gradient(
    to right,
    $primary-lighter 90%,
    $light-grey 10%
  );
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $base-white;
    outline: 2px solid $primary-lighter;
    border: 2px solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  &::-webkit-slider-runnable-track {
  }
  &::-moz-range-track {
  }
}

.pricerange__pin::-webkit-slider-thumb:hover,
.pricerange__pin::-webkit-slider-thumb:focus,
.pricerange__pin::-webkit-slider-thumb:active {
  background-color: $base-primary;
}

/* окошки */
.pricerange__input-boxes {
  display: flex;
  position: relative;
  margin-bottom: 24px;

  @media screen and (width >= 1440px) {
    margin-bottom: 0;
  }
}

.pricerange__input-box--from {
  margin-right: 30px;
}

.pricerange__input-value {
  width: 100%;
  min-height: 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
}

.pricerange__input-value:focus {
  border-color: $primary-darker;
}

.pricerange__input-value:disabled {
  border-color: $light-grey;
  background-color: transparent;
}

.pricerange__input-boxes::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: $base-grey;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
