.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-height: 656px;
  min-width: 320px;

  @media screen and (width >= 768px){
    height: 828px;
  }

  @media screen and (width >= 1440px){
    height: 714px;
  }
}

.slides-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
    min-height: 100%;
    min-width: 100%;
    padding: 20px 20px 60px;
    position: relative;

    @media screen and (width >= 768px){
      display: flex;
      flex-direction: column;
      min-height: 640px;
      padding: 0;
      margin-bottom: 188px;
    }

    @media screen and (width >= 1440px){
      flex-direction: row;
      padding: 30px 80px 84px 105px;
      margin: 0;
    }
}

.slide__img-container {
  margin-bottom: 10px;

  @media screen and (width >= 768px){
    position: absolute;
    align-self: center;
    bottom: -188px;
    margin: 0;
  }

  @media screen and (width >= 1440px){
    position: static;
    margin-right: 30px;
  }
}

.slide__image {
  @media screen and (width >= 768px){
    width: 476px;
    margin-bottom: 0;
  }

  @media screen and (width >= 1440px){
    width: 600px;
    margin: 0;
  }
}

.slide__text-container {
  text-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (width >= 768px){
    padding: 60px 68px;
  }

  @media screen and (width >= 1140px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1;
    padding: 0;
  }
}

.slide__heading {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: .02em;

  @media screen and (width >= 768px){
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.slide__desc {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;

    @media screen and (width >= 768px){
      font-size: 20px;
      line-height: 32px;
      margin-left: 30px;
      margin-right: 30px;
    }

    @media screen and (width >= 1140px){
      margin: 0 35px 40px 0;
      text-align: left;
    }
}

.slide__buy-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media screen and (width >= 768px){
      margin-bottom: 20px;
    }

    @media screen and (width >= 1440px){
      margin-bottom: 0;
    }
}

.slide__button {
  margin-left: 20px;
  min-width: 113px;
  min-height: 40px;
}

.slide--one {
  background-color: $flat-white;
}

.slide--two {
    background-color: $lavender-latte;
}

.slide--three {
    background-color: $espresso;
}

/* стрелки */
.slider-button-prev,
.slider-button-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  min-width: 20px;
  cursor: pointer;

  @media screen and (width >= 768px){
    min-width: 80px;
    height: calc(100% - 188px);
  }

  @media screen and (width >= 1440px){
    height: 100%;
  }
}

.slider-button-prev {
  left: 0;
}

.slider-button-prev::after {
  content: "";
  background-image: url("../../icons/arrow-prev.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.slider-button-next {
  right: 0;
}

.slider-button-next::after {
  content: "";
  background-image: url("../../icons/arrow-next.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.slider-button-prev:hover,
.slider-button-next:hover,
.slider-button-prev:focus,
.slider-button-next:focus {
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}

.slider-button-prev:active,
.slider-button-next:active {
  background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider-button-prev.disabled,
.slider-button-next.disabled {
  opacity: .35;
  pointer-events: none;
}

/* пагинация */
.slider__pagination {
  position: absolute;
  text-align: center;
  z-index: 10;
  display: none;

  @media screen and (width >= 1440px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    bottom: 60px;
  }
}

.slider__pagination-bullet {
  width: 62px;
  height: 4px;
  background-color: $base-white;
  border-radius: 0;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.slider__pagination-bullet--active {
  background-color: $base-primary;
}

.slider__pagination-bullet:hover,
.slider__pagination-bullet:focus {
  background-color: $primary-opacity;
}
