.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  @media screen and (width >= 1440px) {
    align-items: start;
  }
}

.social-list__item {
  list-style: none;
  margin-right: 20px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: $base-secondary;
}

.social-list__link:active {
  background-color: $primary-opacity;
}

.social-list-icon {
  width: 20px;
  height: auto;
  fill: $base-grey;
}

.social-list__link:hover .social-list-icon,
.social-list__link:focus .social-list-icon,
.social-list__link:active .social-list-icon {
  fill: $base-primary;
}