/* селект */
.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    justify-content: end;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.sorting__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.sorting__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}

.sorting__box {
  position: relative;
  display: inline-block;
}

.sorting__list {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 165px;
  color: $base-primary;
  padding: 4px 25px 4px 10px;
  cursor: pointer;
  border: none;
  background: url("../../icons/arrow-down.svg") no-repeat right 8px center;
  background-size: 10px;
}

.sorting__list:hover,
.sorting__list:focus {
  background-color: $base-secondary;
  outline: none;
}
