/* селект */
.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    justify-content: end;
    margin-bottom: 20px;
  }
}

.sorting__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.sorting__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sorting__box {
  width: 100%;
  position: relative;
}

.sorting__list {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  color: $base-primary;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  padding: 10px 16px 10px 10px;
  cursor: pointer;
}
