/* селект */
.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    justify-content: end;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.sorting__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.sorting__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sorting__box {
  width: 165px;
  position: relative;
}

.sorting__list {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  color: $base-primary;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  padding: 4px 29px 4px 10px;
  cursor: pointer;
}

.sorting__list::after {
  content: "";
  position: absolute;
  background-image: url(../../icons/arrow-down.svg);
  background-repeat: no-repeat;
  top: 50%;
}

.sorting__list:hover,
.sorting__list:focus {
  background-color: $base-secondary;
}