.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-nav__item {
  list-style: none;
}

.user-nav__link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $base-black;
  outline: 0;
}

.user-nav__link-text {
  display: none;
}

.user-nav__icon--account {
  width: 16px;
  height: auto;
}

.user-nav__toggle {
  width: 60px;
  height: 60px;
  position: relative;
  border: none;
  margin-left: auto;
  padding: 0;
  display: none;
  cursor: pointer;
  background-color: $base-white;
}

.user-nav__toggle--open {
  background-image: url("/source/icons/burger.svg");
  display: block;
}

.user-nav__toggle--close {
  background-image: url("/source/icons/cross.svg");
  display: block;
}
